body{
    background: #6B8072;
    height: 100vh;
    margin: 0;
}

@media (max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.midiv{
    align-items: center;
    padding: 25px;
    gap: 25px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    height: flex;
    
}

.mibtn{
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}